<div id="antet">
	<div id="header">
		<img src="images/logo.jpg" alt="Liceul Teoretic 'Ovidius'" title="Liceul Teoretic 'Ovidius'" id="logo"/>
		<div>Liceul Teoretic "Ovidius"</div>
	</div>
	<h2>Aplicatie de comunicatii web</h2>
	<h3>Lucrare pentru atestarea competentelor profesionale</h3>

	<h4>Zisu Andrei-Costin</h4>
	<h4>clasa a XII-a A</h4>
	<h4>profesor Iusuf Narcis</h4>
	<h4>2011-2012</h4>

	<a href="/main" title="Pagina principala">Intra in aplicatie</a>
</div>